@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'League Spartan';
}

:root{
    --bg-color-1: #3A4663;
    --bg-color-2: #181F33;
    --bg-color-3: #242D44;
    --bg-btn-1: #EAE3DC;
    --bg-btn-2: #647198;
    --bg-btn-3: #D03F2F;
    --shadow-color-1: #B3A497;
    --shadow-color-2: #414E73;
    --shadow-color-3: #93261A;
    --color-1: #FFFFFF;
    --color-2: #434A59;
    --color-3: #FFFFFF;
    --hover-1: #FFFFFE;
    --hover-2: #A2B2E1;
    --hover-3: #F96B5B;
}

.theme-1{
    --bg-color-1: #3A4663;
    --bg-color-2: #181F33;
    --bg-color-3: #242D44;
    --bg-btn-1: #EAE3DC;
    --bg-btn-2: #647198;
    --bg-btn-3: #D03F2F;
    --shadow-color-1: #B3A497;
    --shadow-color-2: #414E73;
    --shadow-color-3: #93261A;
    --color-1: #FFFFFF;
    --color-2: #434A59;
    --color-3: #FFFFFF;
    --color-4: #FFFFFF;;
    --hover-1: #FFFFFE;
    --hover-2: #A2B2E1;
    --hover-3: #F96B5B;
    --history-color: #848383;
}

.theme-2{
    --bg-color-1: #E6E6E6;
    --bg-color-2: #EEEEEE;
    --bg-color-3: #b5aaaa;
    --bg-btn-1: #E5E4E1;
    --bg-btn-2: #378187;
    --bg-btn-3: #C85402;
    --shadow-color-1: #A79E91;
    --shadow-color-2: #1B6066;
    --shadow-color-3: #873901;
    --color-1: #36362C;
    --color-2: #434A59;
    --color-3: #FFFFFF;
    --color-4: #FFFFFF;
    --hover-1: #FFFFFF;
    --hover-2: #62B5BC;
    --hover-3: #FF8A38;
    --history-color: #8b8b8b;
}

.theme-3{
    --bg-color-1: #17062A;
    --bg-color-2: #1E0936;
    --bg-color-3: #1E0936;
    --bg-btn-1: #331C4D;
    --bg-btn-2: #56077C;
    --bg-btn-3: #00DED0;
    --shadow-color-1: #881C9E;
    --shadow-color-2: #BE15F4;
    --shadow-color-3: #6CF9F1;
    --color-1: #FFE53D;
    --color-2: #FFE53D;
    --color-3: #FFFFFF;
    --color-4: #1A2327;
    --hover-1: #6C34AC;
    --hover-2: #8631AF;
    --hover-3: #93FFF8;
    --history-color: #f5efd0;
}

.body{
    transition: background-color 0.3s, color 0.3s;
}

.banner{
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-color-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    padding-top: 30px;
    width: 400px;
    height: 100%;
    /*height: 520px;*/
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top{
    color: var(--color-1);
    padding-top: 10px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.theme-toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.50px;
}

.label{
    margin-right: 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1px;
}

.slider{
    width: 71px;
    height: 26px;
    background-color: var(--bg-color-3);
    border-radius: 13px;
    position: relative;
    cursor: pointer;
}

.position{
    position: absolute;
    width: 100%;
    font-size: 12px;
    top: -20px;
    padding: 0 3px;
    display: flex;
}

.position span{
    margin: auto;
}

.slider .toggle{
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: var(--bg-btn-3);
    border-radius: 50%;
    top: 5px;
    transition: left 0.3s;
    cursor: pointer;
}

.pos-1{
    left: 5px;
}

.pos-2{
    left: 27.5px;
}

.pos-3{
    left: 50px;
}

.screen{
    width: 100%;
    background-color: var(--bg-color-2);
    height: 120px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
}

.screen .history-value{
    text-align: right;
    color: var(--history-color);
    margin: 0 20px;
    padding-top: 20px;
}

.screen .output-value{
    color: var(--color-1);
    text-align: right;
    font-weight: 700;
    font-size: 250%;
    line-height: 100%;
    letter-spacing: -0.93px;
    margin: 10px 20px;
}

.keys{
    display: grid;
    background-color: var(--bg-color-3);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-top: 18px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 18px;
    place-items: center;
    border: none;
    border-radius: 10px;
}

.keys .btn{
   
    text-align: center;
    background-color: var(--bg-btn-1);
    width: 80px;
    height: 50px;
    border-radius: 10px;
    color: var(--color-2);
    font-size: 30px;
    font-weight: 700;
    box-shadow: 0px 4px 0 0 var(--shadow-color-1);
    border: none;
}

.keys .btn:hover{
    background-color: var(--hover-1);
    cursor: pointer;
}

/*.btn.spec{
    grid-column: span 2;
    width: 227px;
}*/

.keys > :nth-child(4){
    background-color: var(--bg-btn-2);
    color: var(--color-3);
    box-shadow: 0px 4px 0 0 var(--shadow-color-2);
    font-size: 15px;
    
}

.keys > :nth-child(4):hover{
    background-color: var(--hover-2);
}

.keys > :nth-child(17){
    background-color: var(--bg-btn-2);
    color: var(--color-3);
    box-shadow: 0px 4px 0 0 var(--shadow-color-2);
    grid-column: span 2;
    width: 100%;
    font-size: 15px;
}

.keys > :nth-child(17):hover{
    background-color: var(--hover-2);
}

.keys > :nth-child(18){
    background-color: var(--bg-btn-3);
    color: var(--color-4);
    box-shadow: 0px 4px 0 0 var(--shadow-color-3);
    grid-column: span 2;
    width: 100%;
    font-size: 15px;
}

.keys > :nth-child(18):hover{
    background-color: var(--hover-3);
}







@media (max-width: 600px) {
    .calculator{
        width: 300px;
        margin: auto;
    }

    .screen{
        height: 100px;
    }
    .screen .output-value{
        font-size: 40px;
    }

    .screen .history-value{
        font-size: 20px;
    }

    .keys{
        width: 100%;

        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        gap: 10px;
    }

    .keys .btn{
        width: 60px;
        height: 54px;
        font-size: 20px;
        border-radius: 5px;
    }

    /*.btn.spec{
        width: 135px;
    }*/

    .keys > :nth-child(17){
        font-size: 15px;
        width: 100%;
    }

    .keys > :nth-child(18){
        font-size: 15px;
        width: 100%;
    }
}

@media (min-width: 1024) and (min-width: 1114px) {
    .banner{
        flex-wrap: wrap;
    }

    .top{
        margin-top: 130px;
    }

    .keys{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .keys .btn{
        width: 60px;
        height: 64px;
        font-size: 20px;
    }

    

}